body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.budget-input {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
	background-color: blue;
}

button#checkoutBtn {
    background-color: #007bff;
}

#totalAmount.red {
    color: #dc3545;
}

#totalAmount.blue {
    color: #007bff;
}

#totalAmount {
    text-align: center;
    font-size: 1.2em;
}